body {
  background: rgba(89,115,92, 0.8);
  background: rgb(89,115,92);
}

.photobackground {
  background: rgba(186, 0, 33, 0.5);
  background: rgb(186, 0, 33);
  color : white;
}

.name {
  font-family: monospace;
}

.podcast {
  background: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255);
  color : red;
}

ul.cir {
  list-style-type: circle;
}

.nav {
  background: rgba(255, 255, 255, 0.5);
  background: rgb(255, 255, 255);
  border-style: dotted;
}

a:hover {
  color: green;
}

img {
  max-width: 100%;
  max-height: 100%;
}
